#pitchable-zone{
    width: 1020px;
    height: 750px;
    background-color: #999;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#strike-zone{
    width: 340px;
    height: 500px;
    background-color: #999;
    opacity: 0.25;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#inning-info{
    display: flex;
    position: absolute;
    top: 200px;
    left: 100px;
}

#first{
    position: absolute;
    left: 150px;
    background-color:blue;
    opacity: 0.25;
    width: 75px;
    height: 75px;
    rotate: 45deg;
}

#second{
    position: absolute;
    top: -75px;
    left: 75px;
    background-color: blue;
    opacity: 0.25;
    width: 75px;
    height: 75px;
    rotate: 45deg;
}

#third{
    position: absolute;
    background-color: blue;
    opacity: 0.25;
    width: 75px;
    height: 75px;
    rotate: 45deg;
}

#out-container{
    display: flex;
    position: absolute;
    top: 125px;
    left: -5px;
}

.out{
    background-color: gold;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    opacity: .25;
}

.called-out{
    background-color: gold;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    opacity: 1;
}

.baseball{
    background-color: rgb(110, 110, 110);
    width: 58px;
    height: 58px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
	justify-content: center;
	align-items: center;
    opacity: 1;
}

.strike{
    background-color: red;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    margin: 5;
    opacity: .25;
}

.called-strike{
    background-color: red;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    margin: 5;
    opacity: 1;
}

.ball{
    background-color: green;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    margin: 5;
    opacity: .25;
}

.called-ball{
    background-color: green;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    margin: 5;
    opacity: 1;
}

#count{
    display: flex;
    position:fixed;
    top: 735;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top-inning{
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 25px solid black;
    opacity: 1;
}

#bottom-inning{
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 25px solid black;
    opacity: .25;
}

#inning-conatiner{
    position: fixed;
    align-items: center;  
    transform: translate(110%);
    bottom: 100px;
}

#pitch-selection{
    position: absolute;
    width: 250px;
    top: 200px;
    right: 100px;
    display: flex;
    flex-direction: column;
}

button{
    height: 75px;
    margin-bottom: 25px;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30;
}

h1{
    font-size: 50;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: black;
}

h2{
    font-size: 30;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: black;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: black;
}